
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/NowPlaying.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/refresh.cpython-310.pyc
__pycache__/secrets.cpython-310.pyc
